fastapi
uvicorn
langchain
langchain-community
langchain-openai
langchain-groq
fastembed
qdrant_client
python-dotenv
llama-parse
unstructured[md]
libmagic
# chainlit==1.3.2
chainlit==2.8.0